/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  color: #f9faffde;
  text-shadow: #858ebc -2px 2px 8px;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
}

details {
  position: absolute;
  margin: 16px;
  cursor: pointer;
}

details ::marker {
  border: none;
  border-radius: 2px;
  content: "⏵ ";
}

details[open] ::marker {
  content: "▾ ";
}