[submodule "mirrors"]
	path = mirrors
	url = https://github.com/iguannalin/mirrors
[submodule "multiplechoices"]
	path = multiplechoices
	url = https://github.com/iguannalin/multiplechoices
[submodule "moving-choices"]
	path = moving-choices
	url = https://github.com/iguannalin/moving-choices.git
[submodule "reflections"]
	path = reflections
	url = https://github.com/iguannalin/reflections.git
[submodule "leave-a-choice"]
	path = leave-a-choice
	url = https://github.com/iguannalin/leave-a-choice.git
[submodule "breathe"]
	path = breathe
	url = https://github.com/iguannalin/breathe.git
[submodule "seeds"]
	path = seeds
	url = https://github.com/iguannalin/seeds.git
[submodule "whack-a-mole"]
	path = whack-a-mole
	url = https://github.com/iguannalin/whack-a-mole.git
[submodule "mystery-garden"]
	path = mystery-garden
	url = https://github.com/iguannalin/mystery-garden.git
[submodule "emojis"]
	path = emojis
	url = https://github.com/iguannalin/emojis.git
[submodule "black-hole"]
	path = black-hole
	url = https://github.com/iguannalin/black-hole.git
[submodule "recipes"]
	path = recipes
	url = https://github.com/iguannalin/recipes.git
[submodule "spoken-emojis"]
	path = spoken-emojis
	url = https://github.com/iguannalin/spoken-emojis.git
[submodule "lunar-sentence"]
	path = lunar-sentence
	url = https://github.com/iguannalin/lunar-sentence.git
[submodule "fireworks"]
	path = fireworks
	url = https://github.com/iguannalin/fireworks.git
[submodule "rectangles"]
	path = rectangles
	url = https://github.com/iguannalin/rectangles.git
[submodule "directions"]
	path = directions
	url = https://github.com/iguannalin/directions.git
[submodule "scroll"]
	path = scroll
	url = https://github.com/iguannalin/scroll.git
[submodule "connect-the-dots"]
	path = connect-the-dots
	url = https://github.com/iguannalin/connect-the-dots.git
[submodule "doors"]
	path = doors
	url = https://github.com/iguannalin/doors.git
[submodule "sizi"]
	path = sizi
	url = https://github.com/iguannalin/sizi.git
[submodule "replace"]
	path = replace
	url = https://github.com/iguannalin/replace.git
[submodule "open"]
	path = open
	url = https://github.com/iguannalin/open.git
