[submodule "mirrors"]
	path = mirrors
	url = https://github.com/iguannalin/mirrors
[submodule "multiplechoices"]
	path = multiplechoices
	url = https://github.com/iguannalin/multiplechoices
[submodule "moving-choices"]
	path = moving-choices
	url = https://github.com/iguannalin/moving-choices.git
[submodule "reflections"]
	path = reflections
	url = https://github.com/iguannalin/reflections.git
[submodule "leave-a-choice"]
	path = leave-a-choice
	url = https://github.com/iguannalin/leave-a-choice.git
[submodule "breathe"]
	path = breathe
	url = https://github.com/iguannalin/breathe.git
[submodule "seeds"]
	path = seeds
	url = https://github.com/iguannalin/seeds.git
[submodule "whack-a-mole"]
	path = whack-a-mole
	url = https://github.com/iguannalin/whack-a-mole.git
[submodule "mystery-garden"]
	path = mystery-garden
	url = https://github.com/iguannalin/mystery-garden.git
[submodule "emojis"]
	path = emojis
	url = https://github.com/iguannalin/emojis.git
[submodule "black-hole"]
	path = black-hole
	url = https://github.com/iguannalin/black-hole.git
[submodule "recipes"]
	path = recipes
	url = https://github.com/iguannalin/recipes.git
[submodule "spoken-emojis"]
	path = spoken-emojis
	url = https://github.com/iguannalin/spoken-emojis.git
[submodule "lunar-sentence"]
	path = lunar-sentence
	url = https://github.com/iguannalin/lunar-sentence.git
[submodule "fireworks"]
	path = fireworks
	url = https://github.com/iguannalin/fireworks.git
[submodule "rectangles"]
	path = rectangles
	url = https://github.com/iguannalin/rectangles.git
[submodule "directions"]
	path = directions
	url = https://github.com/iguannalin/directions.git
[submodule "scroll"]
	path = scroll
	url = https://github.com/iguannalin/scroll.git
[submodule "connect-the-dots"]
	path = connect-the-dots
	url = https://github.com/iguannalin/connect-the-dots.git
[submodule "doors"]
	path = doors
	url = https://github.com/iguannalin/doors.git
[submodule "sizi"]
	path = sizi
	url = https://github.com/iguannalin/sizi.git
[submodule "replace"]
	path = replace
	url = https://github.com/iguannalin/replace.git
[submodule "canto"]
	path = canto
	url = https://github.com/iguannalin/canto.git
[submodule "open"]
	path = open
	url = https://github.com/iguannalin/open.git
[submodule "word"]
	path = word
	url = https://github.com/iguannalin/word.git
[submodule "unwholesome"]
	path = unwholesome
	url = https://github.com/iguannalin/unwholesome.git
[submodule "assembly"]
	path = assembly
	url = https://github.com/iguannalin/assembly.git
[submodule "wiggly"]
	path = wiggly
	url = https://github.com/iguannalin/wiggly.git
[submodule "glyphs"]
	path = glyphs
	url = https://github.com/iguannalin/glyphs.git
[submodule "folder"]
	path = folder
	url = https://github.com/iguannalin/folder.git
[submodule "chengyu"]
	path = chengyu
	url = https://github.com/iguannalin/chengyu.git
[submodule "catchthedragon"]
	path = catchthedragon
	url = https://github.com/iguannalin/catchthedragon.git
[submodule "crossword"]
	path = crossword
	url = https://github.com/iguannalin/crossword.git
[submodule "maze"]
	path = maze
	url = https://github.com/iguannalin/maze.git
[submodule "puzzle"]
	path = puzzle
	url = https://github.com/iguannalin/puzzle.git
[submodule "daisy"]
	path = daisy
	url = https://github.com/iguannalin/daisy.git
[submodule "food"]
	path = food
	url = https://github.com/iguannalin/food.git
[submodule "recursion"]
	path = recursion
	url = https://github.com/iguannalin/recursion.git
[submodule "pi"]
	path = pi
	url = https://github.com/iguannalin/pi.git
[submodule "moon"]
	path = moon
	url = https://github.com/iguannalin/moon.git
[submodule "wins"]
	path = wins
	url = https://github.com/iguannalin/wins.git
[submodule "ghostwords"]
	path = ghostwords
	url = https://github.com/iguannalin/ghostwords.git
[submodule "chancy"]
	path = chancy
	url = https://github.com/iguannalin/chancy.git
[submodule "fib"]
	path = fib
	url = https://github.com/iguannalin/fib.git
[submodule "bracketsclock"]
	path = bracketsclock
	url = https://github.com/iguannalin/bracketsclock.git
[submodule "flip"]
	path = flip
	url = https://github.com/iguannalin/flip.git
[submodule "handle"]
	path = handle
	url = https://github.com/iguannalin/handle.git
[submodule "circles"]
	path = circles
	url = https://github.com/iguannalin/circles.git
[submodule "mao"]
	path = mao
	url = https://github.com/iguannalin/mao.git
[submodule "xiaoya"]
	path = xiaoya
	url = https://github.com/iguannalin/xiaoya.git
[submodule "skittles"]
	path = skittles
	url = https://github.com/iguannalin/skittles.git
[submodule "staggered"]
	path = staggered
	url = https://github.com/iguannalin/staggered.git
[submodule "ghosts"]
	path = ghosts
	url = https://github.com/iguannalin/ghosts.git
[submodule "news"]
	path = news
	url = https://github.com/iguannalin/news.git
[submodule "obfuscate"]
	path = obfuscate
	url = https://github.com/iguannalin/obfuscate.git
[submodule "sunmoonsky"]
	path = sunmoonsky
	url = https://github.com/iguannalin/sunmoonsky.git
[submodule "transpilation"]
	path = transpilation
	url = https://github.com/iguannalin/transpilation.git
[submodule "rotation"]
	path = rotation
	url = https://github.com/iguannalin/rotation.git
[submodule "interweave"]
	path = interweave
	url = https://github.com/iguannalin/interweave.git
[submodule "parallels"]
	path = parallels
	url = https://github.com/iguannalin/parallels.git
[submodule "conway"]
	path = conway
	url = https://github.com/iguannalin/conway.git
[submodule "groceries"]
	path = groceries
	url = https://github.com/iguannalin/groceries.git
[submodule "ctw"]
	path = ctw
	url = https://github.com/iguannalin/ctw.git
[submodule "cellmusic"]
	path = cellmusic
	url = https://github.com/iguannalin/cellmusic.git
[submodule "marquee"]
	path = marquee
	url = https://github.com/iguannalin/marquee.git
[submodule "spam"]
	path = spam
	url = https://github.com/iguannalin/spam.git
[submodule "dupe"]
	path = dupe
	url = https://github.com/iguannalin/dupe.git
[submodule "elements"]
	path = elements
	url = https://github.com/iguannalin/elements.git
[submodule "bleak"]
	path = bleak
	url = https://github.com/iguannalin/bleak.git
[submodule "buxing"]
	path = buxing
	url = https://github.com/iguannalin/buxing.git
[submodule "grass"]
	path = grass
	url = https://github.com/iguannalin/grass.git
