[submodule "mirrors"]
	path = mirrors
	url = https://github.com/iguannalin/mirrors
[submodule "stoplight"]
	path = stoplight
	url = https://github.com/iguannalin/stoplight
[submodule "multiplechoices"]
	path = multiplechoices
	url = https://github.com/iguannalin/multiplechoices
[submodule "moving-choices"]
	path = moving-choices
	url = https://github.com/iguannalin/moving-choices.git
[submodule "reflections"]
	path = reflections
	url = https://github.com/iguannalin/reflections.git
[submodule "leave-a-choice"]
	path = leave-a-choice
	url = https://github.com/iguannalin/leave-a-choice.git
